version: '3.8'

# Definición del servicio para Celery Beat que permite la programación de notificaciones periódicas

services:
  beat:
    build:
      context: .
      dockerfile: Dockerfile
    # El comando usa DatabaseScheduler para guardar los horarios en tu Supabase, no en un archivo local
    command: celery -A config beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    restart: always
    # Variables de entorno se inyectan desde Coolify